p {

    text-align: center;
    color: aqua;

}


#cage{

    text-align: center;
    color: blue;

}

.classname{

    text-align: center;
    color: brown;


}


*{

    text-align: center;
    color: blueviolet;


}



h1, h2, h3{


    text-align: center;
    color: black;

}




